@{
    ViewBag.Title = "auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.content
{
    margin:0px auto;
    width:40%;
}

</style>
<div class="content">
<h4>@TempData["result"]</h4>
</div>