@{
    ViewBag.Title = "changeOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.content
{
    margin:0px auto;
    width:40%;
    color:Red;
}
</style>

<div class="content">
<h4>@TempData["changeMemDataState"]</h4>
</div>
